# Python venv
venv/
.venv/

# Ignored env/config
.env/
*.env

# Python cache
__pycache__/**

# Embedding models
MCP_servers/retrieve-mcp/models/embedding_model/**
**/embedding_model/**

# RAG store
authority_library/rag_store/**
codex_notes/


# Large model weights and local DBs
*.safetensors
embedding_model/
authority_library/rag_store/rag_chroma/chroma.sqlite3
authority_library/rag_store/**/chroma.sqlite3
*.sqlite3
*.pyc

# DFT/ORCA outputs (recursive, all folders and projects)
*.gbw
*.ges
*.xyz
*.trj.xyz
*.engrad
*.hess
*.opt
*.cis
*.prop
*.unso
*.densities
*.densitiesinfo
*.property.txt
*.bibtex
*.cpcm
*.cpcm_corr
*.molden
*.molden.input
*.cube
*.wfn
*.wfx
*.out
*.tmp
*.tmp.*
*.bas
*.bas*
*.rel.inp
*.scfp
*.scf
*.nbo
*.loc.gbw

CodeVerifier_sandbox/
logs/
plots_v2/
results/
run/NOTUSED/
